*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(images/image\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10rem; 
}

nav{
    width: 1000px;
    margin: auto;
}

.navContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 2rem;
}

.navContent > h1{
    color: #ffffff;
}

.hamburger, #toggle{
    display: none;
}

.navItems{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.navItems > a{
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
}

.navItems > a:nth-child(1){
    border-bottom: 1px solid;
    padding: 0.5rem;
}


.headWrapper{
    width: 850px;
    margin: auto;
}

.head__Wrapper > h1{
    width: 300px;
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 2rem;
} 

.headBox{
    display: flex;
    align-items: center;
    background-color: #FFFFFF1A;
    padding: 0.3rem 1rem;
    border-radius: 10px;
    gap: 10rem;

} 

.searchItem{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.searchItem > img{
    width: 13px;
}

.searchItem > p{
    color: #ffffff;
    font-size: 13px;
}

.boxWrapper{
    display: flex;
    align-items: center;
    gap: 2.5rem; 
}

.checkWrapper{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.midLine{

}

.checkBox{
    display: flex;
    align-items: center;
    gap: 0.5rem;  
}

.checkBox > img{
    width: 13px;
}

.checkBox > p{
    color: #ffffff;
    font-size: 13px;
}

.checkBox1{
    display: flex;
    align-items: center;
    gap: 0.5rem;  
}

.checkBox1 > img{
    width: 13px;
}

.checkBox1 > p{
    color: #ffffff;
    font-size: 13px;
}

.roomBox{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.roomBox > img{
    width: 13px;
}

.roomBox > p{
    color: #ffffff;
    font-size: 13px;
}

.boxWrapper > button{
    width: 100px;
    color: #1B4E7A;
    padding: 0.5rem 0.7rem;
    border-radius: 14px;
    border: none;
    font-size: 13px;
}

/* .cat__Box{
   width: 850px;
} */

.cat__Box > h2{
    margin-block: 2rem;
    color: #ffffff;
    font-size: 25px;
}

.catWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 850px;
}

.catBox{
    text-align: center;
}

.catBox > img{
    width: 25px;
}

.catBox > p{
    color: #ffffff;
    opacity: 0.5;
    font-size: 13px;
}

.catBox1{
    text-align: center;
}

.catBox1 > img{
    width: 25px;
}

.catBox1 > p{
    color: #ffffff;
    font-size: 13px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 0.5rem;
}

.arrowBox{
    position: relative;
}

.arrowBox > img{
    position: absolute;
    right: -2rem;
    bottom: 0.5rem;
    width: 25px;
}

@media(min-width:260px) and (max-width:460px){

    .header{
        padding-bottom: 4rem;
    }
    nav{
        width: calc(100% - 60px);
    }

    .navContent > h1{
         width: 400px; 
        text-align: center;
    }

    .hamburger{
        display: block;
        font-size: 1.5rem;
        color: #ffffff;
    }

    .navRight{
        display: none;
        position: absolute;
        width:50%;
        top: 5rem;
        right: 1rem;
        background-color: #101A24;
        opacity: 0.9;
        z-index: 1;
        gap: 10px;
        flex-direction: column;
        border-bottom: 4px solid #FFFFFF;
        padding: 1rem 0rem;
    }

    .navItems{
        flex-direction: column;
        width: 100%; 
    }

    .navItems > a{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid;
        padding-block: 0.2rem;
    }

    #toggle:checked + .navRight{
        display: block;

    }

    .headWrapper{
        width: 100%;
    }

    .head__Wrapper{
        width: calc(100% - 60px); 
        margin: auto;
    }

    .head__Wrapper > h1{
        font-size: 30px;
    } 

    .headBox{
        flex-direction: column;
        gap: 1rem;
        background-color: transparent;
        width: 100%;
        padding: 0;
    } 

    .searchItem{
        width: 100%;
        padding: 0.5rem;
        border-radius: 14px;
        background-color:#FFFFFF66;
        justify-content: center;
    }

    .boxWrapper{
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .checkWrapper{
        width: 100%;
        padding: 0.5rem;
        justify-content:center;
        border-radius: 14px;
        background-color: #FFFFFF66;
        gap: 3rem;
    } 

    .midLine{
        border-left: 1px solid #ffffff;
        height: 10px;
    }
    
    .roomWrapper{
        width: 100%;
    }

    .roomBox{
        padding: 0.5rem;
        border-radius: 14px;
        background-color: #FFFFFF66;
        justify-content: center;
    }

    .boxWrapper > button{
        color: #ffffff;
        padding: 0.5rem;
        border-radius: 14px;
        font-size: 15px;
        background-color: #2659C3;
        width: 100%;
    }

    .cat__Box{
        margin-bottom: -17rem;
    } 

    .cat__Box > h2{
        font-size: 25px;
        color: #141414;
        margin-block: 1.5rem;
        margin-left: 1.8rem;
        }

    .catWrapper{
        overflow-x: scroll;
        align-items: center;
        margin: auto;
        gap: 1.5rem;
        width: 100%;
        background-color: #2659C3;
        padding: 0 1rem ;
    }

    .catBox{
    text-align: center;
    gap: 1rem;
    }

    .catBox > img{
    width: 25px;
    color: #000000;
}

.catBox > p{
    color: #000000;
    font-size: 10px;
    opacity: 1;
}

.catBox1{
    text-align: center;
}

.catBox1 > img{
    width: 25px;
}

.catBox1 > p{
    color: #000000;
    font-size: 10px;
    border-bottom: none;
    padding: 0;
}

.arrowBox > img{
    display: none;
}


}


/* section 1 */

main{
    width: 1000px;
    margin: auto;
    /* overflow: hidden; */
}

 .secOne{
    width: 850px;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
    overflow-x: scroll;
} 


.popWrapper > h4{
     /* color: #ffffff; */
    padding-block:1rem ;
    text-transform: capitalize;
    font-size: 25px;
}

.desWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 800px;
    gap: 1.5rem;
}

.desCard{
    /* border: 1px solid; */
    box-shadow: 0px 4.43px 17.71px 0px #9E9E9E40;
    width: 250px;
    padding: 1rem;
    border-radius: 15px;
}

.desCard > img{
    width: 100%;
    border-radius: 10px;
}

.desBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 1rem;
}

.desContent{
    line-height: 1.5rem;
}

.desContent > h5{
    font-size: 16px;
    font-weight: 400;
}

.desContent > p{
    font-size: 13px;
    opacity: 0.5;
}

.desBox > h2{
    display: flex;
    gap: 0.3rem;
    font-size: 16px;
    font-weight: 400;
}

.desBox > h2 > span > img{
    width: 15px;
}

.actBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 1rem;
}
.actContent{
    text-align: center;
}

.actContent > img{
    width: 15px;
}

.actContent > p{
    font-size: 10px;
    opacity: 0.5;
}

.orderNum{
    padding-left: 1rem;
}

.orderNum > il{
    line-height: 1.3rem;
}

.orderNum > il > li{
    opacity: 0.5;
    font-size: 12.5px;

}

.priceBox{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.priceBox > p{
    text-decoration: line-through;
    opacity: 0.5;
    font-size: 13px;
}

.priceBox > h1{
    font-size: 15px;
}

.priceContent{
    position: relative;
}

.priceContent > p{
    position: absolute;
    font-size: 10px;
    opacity: 0.5;
    right: 4rem;
    bottom: 0;
}


.des__img{
    width: 220px;
    height: 145px;
    border-radius: 10px;
}

.des__img > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media(min-width:260px) and (max-width:460px){

    main{
        width: calc(100% - 60px);
    }

    .secOne{
        margin-top: 7rem;
        width: 100%; 

    }

    .desWrapper{
        width: 320px;
        overflow-x: scroll; 
    }
}





/* second second */ 

.secTwo{
    width: 850px;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
    overflow-x: scroll;

}
.recWrapper > h4{
    /* color: #ffffff; */
    padding-block:1rem ;
    text-transform: capitalize;
    font-size: 25px;
}

.viewWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 800px;
    gap: 1.5rem;
}

.sumCard{
    width: 250px;
    background-image: url(images/background\ color.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
    box-shadow: 0px 4.43px 17.71px 0px #9E9E9E40;
    border-radius: 15px;
}

.sumCard > h1 {
    margin-block: 1.5rem;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 20px;
}

.sumItems > p{
    margin-bottom: 1rem;
    color: #ffffff;
    font-size: 14px;
}

@media(min-width:260px) and (max-width:460px){
    .secTwo{
        width: 100%;
    }

    .viewWrapper{
        width: 320px;
        overflow-x: scroll;
    }
}


/* section 3  */
.secThree{
    width: 850px;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
    overflow-x: scroll;
}

.packWrapper > h4{
    text-transform: capitalize;
    font-size: 25px;
    padding-block: 1rem;
}

@media(min-width:260px) and (max-width:460px){
    .secThree{
        width: 100%;
    }
}
  

 /* section 4 */

 .secFour{
     width: 850px;
    display: flex;
    margin: auto;
    margin-bottom: 5rem;
    overflow-x: scroll;
 }
.honeykWrapper > h4{
     text-transform: capitalize;
    font-size: 25px;
    padding-block: 1rem;

}

@media(min-width:260px) and (max-width:460px){

    .secFour{
        width:100% ;
    }
}

/* footer styling */

footer{
    background-color: #141414;
}

.footCircle{
    width: 1000px;
    margin: auto;
    padding-block: 1.5rem;

}

.footWrapper{
    width: 850px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footWrapper > h1{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.footBox{
    display: flex;
    gap: 7rem; 
    width: 700px;
}

.footItems > P{
    color: #808080;
    font-size: 12px;
    line-height: 1.5rem;
}

.footContent{
    width: 850px;
    margin: auto;
    display: flex;
    justify-content: end;
    margin-block: 1rem;
}

.footEndwap{
    display: flex;
    justify-content: space-between;
    width: 700px;

}

.helBox{
    border: 1px solid #808080;
    padding: 0.5rem;
}

.helBox > p{
    color: #808080;
    font-size: 12px;
}

.socialFoot{
     display: flex;
    gap: 0.8rem;
}

.socialFoot > img{
    width: 20px;
    height: 25px;
}

.netflixContent{
    width: 850px;
    margin: auto;
    display: flex;
    justify-content: end;
    margin-block: 1rem;
}

.helItems{
    width: 700px;
    color: #808080;
    font-size: 12px;
}

@media(min-width:260px) and (max-width:460px){
    .footCircle{
        width:calc(100% - 40px) ;
    }

    .footWrapper{
    width:calc(100% - 40px) ;
    flex-direction: column;  
    }

    .footWrapper > h1{
        margin-bottom: 1rem;
        text-align: center;
    }

    .footBox{
        gap: 0.5rem;
        width: 320px;
    }

    .footItems > P{
    font-size: 10px;
    line-height: 1.4rem;
    }

    .footContent{
        width: calc(100% - 40px);
    }

    .footEndwap{
        align-items: center;
    }


    .socialFoot > img{
    width: 10px;
    height: 15px;
    }

    .netflixContent{
        width: calc(100% - 40px);
    }
}
